# Dependencies
node_modules/
.pnp
.pnp.js

# Vercel
.vercel

# Testing and temporary files
__pycache__/
*.py[cod]
*$py.class
test_*.py

# Environment & Logs
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

.vercel
